@font-face {
    font-family: "Source-Regular";
    src: url(./ASSETS/FONTS/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: "Source-Bold";
    src: url(./ASSETS/FONTS/SourceSansPro-Bold.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Source-Regular";
}
:root{

    font-size: 62.5%;

    --Title: #ece4ef;
    --Description: #d8cede;
    --Description-2: #9c83a7;

    --Oxford-Blue: #030422;
    --Licorice: #090114;
    --Midnight-Blue: #312D74;
    --White: #fff;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    background: linear-gradient(102.2deg, var(--Oxford-Blue), -2.74%, var(--Licorice) 101.6%);
}
.main{
    width: 100vw;
}
.main__article{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main__article__container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.cards{
    display: flex;
    align-items: center;
}

.main__article__container__cardsBack{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    font-weight: 700;
    width: 34.8rem;
    height: 48.6rem;
    box-shadow: 0px 113px 45px rgba(0, 0, 0, 0.02), 0px 64px 38px rgba(0, 0, 0, 0.08), 0px 28px 28px rgba(0, 0, 0, 0.13), 0px 7px 16px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    color: var(--Midnight-Blue);
}
.main__article__container__cardsBack:first-child{
    background-image: url(./ASSETS/IMAGES/Card_Img_2.png);
}
.main__article__container__cardsBack:last-child{
    background-image: url(./ASSETS/IMAGES/Card_Img_3.png);
}
.main__article__container__cardsBack>h1{
    -webkit-text-stroke: .1rem;
    -webkit-text-fill-color: transparent;
}

.main__article__container__card{
    background-image: url(./ASSETS/IMAGES/Card_Img_1.png);
    width: 43.6rem;
    height: 60.8rem;
    border-radius: 2rem;
    box-shadow: 0px 294px 118px rgba(0, 0, 0, 0.03), 0px 165px 99px rgba(0, 0, 0, 0.1), 0px 73px 73px rgba(0, 0, 0, 0.17), 0px 18px 40px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.main__article__container__card__info{
    padding: 4.8rem 12rem 6rem 4rem;
}
.main__article__container__card__info__header{
    display: grid;
    gap: 1.6rem;
    margin-bottom: 6rem;
}
.main__article__container__card__info h2{
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
    text-shadow: 0 0 .8rem rgba(255, 255, 255, .400);
    color: var(--Title);
}
.main__article__container__card__info span{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--Description);
}
.main__article__container__card{
    position: relative;
}
.main__article__container__card__info__character{
    position: absolute;
    right: 0;
    bottom: 0;
}
.main__article__container__card__info__desc{
    display: grid;
    gap: 1.6rem;
    width: 21rem;
}
.main__article__container__card__info__desc__info h4{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 130%;
    color: var(--Title);
}
.main__article__container__card__info__desc__info span{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--Description-2);
}